* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  /* background-color: #d9afd9; */
  background-image: linear-gradient(0deg, #2c2d32 0%, #5e657b 100%);
}

body {
  overflow: hidden;
  font-family: sans-serif;
  color: white;
}

.wrapper_color {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 100;
  margin: 10px;
}

.menu {
  border-radius: 5px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  gap: 40px;
  cursor: pointer;
  background: #bebebe50;
  border-radius: 5px;
  border: 2px solid #d2d2d2
}

.buttons.active {
  border-radius: 5px 5px 0 0;
}

.buttons h2 {
  font-size: 20px;
  font-weight: 300;
}

.list {
  transition: all .2s;
  background: #bebebe50;
  border-radius: 0px 0px 5px 5px;
  border: 2px solid #d2d2d2;
  margin-top: -2px;
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.list.active {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.arrow {
  transition: all .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow.active {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}

.choose_a_color {
  gap: 40px;
  padding: 5px;
  color: #313738;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.choose_a_color h3 {
  font-weight: 300;
  color: white;
}

.colorInput {
  /* margin: 10px 20px; */
  border: none;
  padding: 5px;
  border-radius: 5px;
  width: 80px;
  height: 50px;
  background: #d8d8d850;
}